body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 10px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;

  }
  
  .product-card {
    background-color: #687B89;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 20%;
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .product-card h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
    font-family: Inter;
  }
  
  .description-container {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Inter;
  }
  
  .product-card p.price {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
    font-family: Inter;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  .discounted-price {
    color: #8A2020;
    font-weight: bold;
    font-family: Inter;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}