body {
    font-family: Tahoma, sans-serif;
    background-color: #faf9f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #8bc34a;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
    font-weight: 600;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus {
    border-color: #8bc34a;
    box-shadow: 0 0 5px #b2fd5d(155, 89, 182, 0.5);
    outline: none;
}

input[type='checkbox'] {
    width: auto;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.checkbox-container input:checked {
    background-color: #8bc34a;
    border-color: #8bc34a;
}

.checkbox-container input:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.checkbox-container label {
    font-weight: bold;
    margin: 0;
}

.terms {
    display: inline-block;
    margin-left: 5px;
    color: #555;
    font-weight: 600;
}

a {
    color: #8bc34a;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #6a9739;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    height: 50px;
}

.submit-btn:hover {
    background-color: #8bc34a;
}

.login-link {
    margin-top: 15px;
    color: #555;
}

.login-link a {
    color: #6a9739;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.message {
    color: red;
    font-size: 13px;
    position: relative;
    bottom: 10px;
}

.remove {
    display: none;
}
