.best-header img {
    position: absolute;
    margin-left: 150px;
}

.best-sellers {
    padding: 300px;
    display: flex;
    justify-content: center;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chart {
    margin: 5px;
}

.icon {
    font-size: 24px;
    color: #8bc34a;
    margin: 10px;
    transition: color 0.3s;
}

.icon:hover {
    color: #80e40e;
}

body {
    background-color: #f9f8f6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

header nav {
    margin-top: 15px;
}

.login-registration {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

img.custom-logo {
    margin-left: 50px;
}

.login-registration {
    margin-right: 100px;
    margin-bottom: 30px;
}

.ln {
    margin: 10px 10px;
    text-decoration: none;
    color: black;
    transition: 500ms;
    cursor: pointer;
    font-family: Inter;
}

.ln:hover {
    color: #4bbf28;
}

.main {
    padding: 140px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}

.mainpicture {
    display: inline-block;
}

.maintext {
    display: inline-block;
    margin-left: 60px;
}

.button {
    background-color: #6a9739;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    width: 200px;
    font-size: 18px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #82b74a;
    transform: scale(1.05);
}

.extra-info {
    background-color: #111111;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    z-index: 2;
    position: absolute;
}

.box1,
.box2,
.box3,
.box4 {
    width: 280px;
    height: 120px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition:
        color 0.5s ease-in-out,
        transform 0.5s ease-in-out;
}

.box1:hover {
    color: #f9f8f6;
    background-color: #4a4949;
    transform: scale(1.1);
}

.box2:hover {
    color: #f9f8f6;
    background-color: #4a4949;
    transform: scale(1.1);
}

.box3:hover {
    color: #f9f8f6;
    background-color: #4a4949;
    transform: scale(1.1);
}

.box4:hover {
    color: #f9f8f6;
    background-color: #4a4949;
    transform: scale(1.1);
}

.footer {
    background-color: #111111;
    color: #fffff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
}

.footer .logo {
    display: flex;
    align-items: center;
}

.footer .logo img {
    height: 70px;
    width: 100%;
}

.footer .social-links {
    display: flex;
}

.footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.footer .social-links a:hover {
    color: #7acc5c;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.cart {
    background-color: #6a9739;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
    transition: 500ms;
}

.cart:hover {
    background-color: #47701b;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
